body{
  width:100%;
}
.clarfix:after{
  content:"";
  display:block;
  clear:both;
  height:0;
  visibility: hidden;
}
.wrapper{
  width:400px;
  margin:0 auto;
}
.header{
  height:100px;
  background-color: #141f40;
}
.side{
  float: left;
  width:150px;
  height:250px;
  background-color: #80bfa8;
}
.content{
  float:right;
  width:250px;
  height:250px;
}
.top{
  float:top;
  width:250px;
  height:100px;
  background-color:#0093b7 ;
}
.content-left{
  float:left;
  width:100px;
  height:150px;
  background-color:#dbd403 ;
}
.content-right{
  float:right;
  width:150px;
  height:150px;
}
.content-right-top{
  height:50px;
  background-color: #ff9e6b;
}
.content-right-bottom{
  height:100px;
  background-color:#8c2727 ;
}
.footer{
  height:350px;
  background-color: #d98d30;
}