
@media screen and (max-width:479px){
  .wrapper{
    width:150px;
  } 
  .headr{
    width:150px;
  }
  .side{
    width:150px;
    height:100px;
  }
  .content{
    width:150px;
  }
  .content-top-right{
    width:150px;
    height:100px;
  }
  .content-top-left-top{
    width:150px;
  }
  .content-top-left-bottom{
    width:150px;
  }
  .content-bottom{
    width:150px;
  }
  .footer{
    width:150px;
    margin:100px 0;
  }
}